.commit-card-container {
    margin-top: 1%;
    margin-bottom: 1%;
}

.general-padding {
    padding: 1%;
}

mat-card {
    padding: 1%;
    background-color: white;

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        vertical-align: middle;
    }
}
